.float{
    position: fixed;
    /* height: 60px;
    width: 60px; */
    padding: 10px;
    bottom: 40px;
    right: 40px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}
.my-float{
    /* margin-top: 22px; */
    color: #e90c0c;
    font-size: 50px;
}